<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; empty.txt &gt; "$TM_NEW_FILE"
fi

{ # Detach a process
	osascript "${TM_BUNDLE_SUPPORT}/load_snippet.scpt" "do-file.do"
} &amp;&gt;/dev/null &amp;</string>
	<key>extension</key>
	<string>do</string>
	<key>name</key>
	<string>Do-File</string>
	<key>scope</key>
	<string>source.stata</string>
	<key>uuid</key>
	<string>A3B85D06-DCF0-4782-B085-6C881D260963</string>
</dict>
</plist>
